[Bb]in/
[Oo]bj/
!/lib
*.user
*.suo
_ReSharper.*
*.sln.DotSettings.user
*.sln.cache
*.xap
*.vspcc
*.vscc 
*.vssscc
*ReSharper*
*.exe
*.pdb
*.suo
*.user
*obj/*
*.resharper.user
*.resharper
*.cache
*~
*.swp
/Build
NDependOut
.svn
*.chm
!/photoshop


# mstest test results
TestResults
